<!-- giveAdviceForm container -->
<div class="col-xs-4 col-sm-4 col-md-4 transbox" id="giveAdviceForm">
    <form class="form" action="/advice/new" method="POST">
        <br>

        <!-- Transfer values from previous screen, and include them here. -->
        <input type="hidden" value="{{post.selectSeason}}" name="month">
        <input type="hidden" value="{{city.id}}" name="city">
        <input type="hidden" value="{{post.selectAdvice}}" name="advice_type">
        <!-- END -->

        <div class="well well-sm">
          <input type="hidden" id="cityWeather" value="{{weather.city}}">
          <input type="hidden" id="stateCountry" value="{{weather.state}}">
            <p>{{weather.city}}, {{weather.state}}</p><br>
            <p>{{month}}</p>
            <p>{{adviceType}}</p>
        </div>
        <div class="well well-lg">
            <label for="giveAdviceTxt" class="control-label"><i class="fa fa-comments-o orange" aria-hidden="true"></i>&nbsp;&nbsp;Your Advice</label>
            <textarea name="giveAdviceTxt" class="form-control" rows="5" placeholder="Type your advice here..." required></textarea>
            <p id="smallTxt">Advice posts are limited to 300 characters</p>
        </div>
        <div class="form-group btn-lg btn-block">
            <button class="btn btn-lg btn-block" type="submit" name="submitAdvice" id="submitAdvice"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Submit advice</button>
        </div>
    </form>
</div>
<!-- end getAdviceForm -->
