<!--  profile page -->

  <div class="transbox">
    <h1 id="top">Administrator Page</h1>
    <div class="container">
      <div class="row">
        <div>
          <table class="table table-responsive" id="postTable">
            <a href="#userTable" class="anchorNav">Jump to users table</a>
            <caption>Posts</caption>
          <thead>
            <th style="width:10%">User ID</th>
            <th style="width:10%">Post ID</th>
            <th style="width:40%">Advice</th>
            <th style="width:15%">Delete</th>
            <th style="width:25%">Approve</th>
          </thead>
          <tbody>
            {{#each posts}}
              <tr>
                <td> {{this.user_id}}</td>
                <td> {{this.id}}</td>
                <td> {{this.advice_text}}</td>
                <td>
                  <form action="/admin?_method=DELETE" method="POST">
                    <button class="btn"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button></a>
                    <input type="hidden" value="{{this.id}}" name="delete_post">
                </form></td>
                <td><form action="/admin?_method=PUT" method="POST">
                  <input type="hidden" value="{{this.id}}" name="approve_post">
                  <button class="btn btn-primary" type="submit">Approve Post</button>
                </form>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <table class="table table-responsive" id="userTable">
          <a href="#top" class="anchorNav">Back to top</a>
          <caption>Users</caption>
          <thead>
            <th style="width:10%">User ID</th>
            <th style="width:25%">Full Name</th>
            <th style="width:25%">Email</th>
            <th style="width:25%">Profile Image URL</th>
            <th style="width:15%">Delete</th>
          </thead>
          <tbody>
            {{#each users}}
              <tr>
                <td> {{this.id}}</td>
                <td> {{this.full_name}}</td>
                <td> {{this.email}}</td>
                <td> {{this.img_url}}</td>
                <td>
                  <form action="/admin/user?_method=DELETE" method="POST">
                    <button type="submit" class="btn"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></button></a>
                    <input type="hidden" value="{{this.id}}" name="delete_user">
                </form>
                 </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <a href="#top" class="anchorNav">Back to top</a>
        </div>



      </div>
    </div>
  </div>

<!-- end profile page -->
